  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    background-color: #a5c1eb;
    background-image: url('header1.jpg');
    background-repeat: no-repeat;
    color: #00c3ff;
    padding: 200px;
    text-align: center;
}

.hero {
    
    background-position-x: center;
    background-color: #fff;
    background-size: 1000px;
    color: #023a88;
    text-align: center;
    padding: 100px 20px;
}

.hero h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cta-button{
    display: inline-block;
    background-color: #00c3ff;
    color: #023a88;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: hwb(191 0% 20%);
}

.registration-form{
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

.registration-form h2 {
    margin-bottom: 20px;
}

.registration-form form {
    max-width: 400px;
    margin: 0 auto;
}

.registration-form label{
    display: block;
    margin-bottom: 10px;
}

.registration-form input{
    width: 100%;
    padding: 10px;
    margin-bottom:  20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer{
    background-color: #97caff;
    background-image: url('footer1.jpg');
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 90px;
}